/* RGB */
$dark: rgb(21, 23, 36);
$main: rgb(27, 45, 104);
$highlight: rgb(50, 68, 122);
$gray: rgba(206, 204, 206, 1);
$white: rgba(229, 229, 229, 1);
$danger: rgb(170, 44, 44);

$shadow: rgba(0, 0, 0, 0.6);
